parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Console

    reportUnmatchedIgnoredErrors: true

    ignoreErrors:
        # OAuth2 traits are designed to be used by user-defined connectors
        - identifier: trait.unused
          path: src/Features/OAuth2/AuthorizationCodeGrant.php
        - identifier: trait.unused
          path: src/Features/OAuth2/ClientCredentialsGrant.php
